.stats_pie {
	overflow: hidden;
	position: relative;
	border-radius: 100%;
	height: calc(var(--size, 200) * 1px);
	width: calc(var(--size, 200) * 1px);

	.pie__segment {
		--a: calc(var(--over50, 0) * -100%);
		--b: calc((1 + var(--over50, 0)) * 100%);
		--degrees: calc((var(--offset, 0) / 100) * 360);
		-webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
		clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: calc(1 + var(--over50));
		transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
		transform-origin: 50% 100%;

		&:after,
		&:before {
			background: var(--bg, #e74c3c);
			content: '';
			height: 100%;
			position: absolute;
			width: 100%;
		}

		&:before {
			--degrees: calc((var(--value, 45) / 100) * 360);
			transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
			transform-origin: 50% 0%;
		}

		&:after {
		  opacity: var(--over50, 0);
		}
		
	}

}
.stats_pie:before {
    content: '';
    display: block;
    background-color: var(--color-bg);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 3;
    border-radius: 50%;
}