.uppercase {
	text-transform:uppercase
}
.lowercase {
	text-transform:lowercase
}
.capitalize {
	text-transform:capitalize
}
.normal-case {
	text-transform:none
}
.italic {
	font-style:italic
}
.not-italic {
	font-style:normal
}