.tracking-tighter {
	letter-spacing:-.05em
}
.tracking-tight {
	letter-spacing:-.025em
}
.tracking-normal {
	letter-spacing:0
}
.tracking-wide {
	letter-spacing:.025em
}
.tracking-wider {
	letter-spacing:.05em
}
.tracking-widest {
	letter-spacing:.1em
}