.min-h-screen-menu {
	min-height: calc( 100vh - var(--menu-height) );
}
.min-h-0 {
	min-height:0
}
.min-h-full {
	min-height:100%
}
.min-h-screen {
	min-height:100vh
}
.min-h-25vh {
	min-height:25vh
}
.min-h-33vh {
	min-height:33vh
}
.min-h-50vh {
	min-height:50vh
}
.min-h-75vh {
	min-height:75vh
}
.min-h-25vw {
	min-height:25vw
}
.min-h-33vw {
	min-height:33vw
}
.min-h-50vw {
	min-height:50vv
}
.min-h-75vw {
	min-height:75vw
}
.min-h-100vw {
	min-height:100vw
}