.min-w-0 {
	min-width:0
}
.min-w-full {
	min-width:100%
}
.min-w-min {
	min-width:-webkit-min-content;
	min-width:-moz-min-content;
	min-width:min-content
}
.min-w-max {
	min-width:-webkit-max-content;
	min-width:-moz-max-content;
	min-width:max-content
}
.min-w-25vw {
	min-width:25vw
}
.min-w-33vw {
	min-width:33vw
}
.min-w-50vw {
	min-width:50vw
}
.min-w-75vw {
	min-width:75vw
}
