.footer-mkt-users-wrap {
	font-size: .875rem;
	margin: 1rem;
	padding: 1rem;
	@include break-3 {
		padding: 2rem;
		margin: 2rem;		
	}
	.icon-close {
		font-size: 12px;
		position: absolute;
		top: .5rem;
		right: .5rem;
	}
}
.footer-mkt-users {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 4rem;
	.mkt-users-button {
		width: 100%;
	}
}

.mkt-box {
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid #efefef;
	@include break-3 {
		padding: 2rem;
		margin: 2rem 0;		
	}
}

.mkt-box-mini {
	padding: .5rem;
	border: 1px solid #efefef;
	@include break-3 {
		padding: 1rem;
	}
}

.mkt-users-button {
	overflow: hidden;
	display: inline-flex;
	height: 2.4em;
	margin: 0;
	padding: .75em 1.25em;
	min-width: 100px;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	border-radius: 1rem;
	cursor: pointer;
	transition: all .2s ease-in-out;
	color: #000;
	background-color: transparent;
	border: 1px solid #000;
	&:hover {
		text-decoration: none;
	}
}

.mkt-users ul:not(.list-inline-comma) {
	padding-bottom: 1em;
	li {
		position: relative;
		padding: 0 0 .5em 1em;
		ul {
			padding-bottom: 0;
			li {
				padding: .5rem 0 .5rem 3rem;
				border: none;
			}
		}
	}
}
.mkt-users ul li:before {
    content: '';
    width: .25em;
    height: .25em;
    top: .5em;
    left: 0;
    border-width: 2px;
    border-style: solid;
	border-color: #ccc;
    display: block;
    position: absolute;
	@include border-radius(50%);
}
.mkt-users ul li li:before {
    width: 1em;
    height: 1px;
    top: 1.25em;
    left: 0;
    border: none;
	background-color: #ccc;
    display: block;
    position: absolute;
	@include border-radius(0);
}

.mkt-users ol {
	padding-bottom: 1em;
	margin-bottom: 2em;
	counter-reset: listNumbering;
	li {
		position: relative;
		border-top: 1px solid var(--color-gray-200);
		padding: .5em 0em 0em 2em;
		counter-increment: listNumbering;
		margin: .5em 0 0 0;
		&:last-child {
			border-bottom: 1px solid var(--color-gray-200);
			padding-bottom: .5em;
		}
		&::before {
			content: counter(listNumbering,decimal);
			position: absolute;
			top: 0.65em;
			left: 0;
			width: 2em;
			height: 2em;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: .65em;
			font-weight: 400;
			line-height: 1em;
			color: #000;
			border: 1px solid #000;
			border-radius: 50%; 
		}
	}
}

.justified li {
	@include break-3 {
		display: flex;
		justify-content: space-between;
	}
}
.border-list li {
	margin: .25em 0;
	padding: .25em 0;
	border-bottom: 1px solid var(--color-gray-200);
}

//======================================================================
// Page Styles
//======================================================================

// General
.tool-styles:not(#styles-blocks):not(#styles-menus) {
	@include break-3 {
		display: flex;
		flex-wrap: wrap;
	}
	.tool-styles-sidebar {
		padding: 1rem;
		span:last-child {
			display: block;
			font-size: 1rem;
			line-height: 1.5em;
			letter-spacing: 0;
		}
		@include break-3 {
			width: 20%;
			padding: 2rem;
		}
		.tool-styles-sticky {
			@include break-4 {
				position: sticky;
				top: 2rem;
			}
		}
		.select {
			margin-bottom: 2rem;
		}
		.button {
			@include break-4 {
				margin-bottom: 1rem;
				width: 100%;
			}
		}
	}
	.tool-styles-content {
		@include break-3 {
			width: 80%;
		}
		@include break-4 {
			width: 70%;
			margin-left: 10%;
		}
	}
}

// Blocks & menus
#styles-blocks.tool-styles,
#styles-menus.tool-styles {
	.tool-styles-sidebar {
		position: fixed;
		z-index: 5;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: var(--color-bg);
  		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05), 0 -2rem 4rem rgba(0, 0, 0, 0.025);
		.tool-styles-sticky {
			display: grid;
			@include  grid-columns(4);
			gap: 0;
			div {
				padding: 1rem;
				display: flex;
				align-items: center;
			}
		}
		svg {
			height: 2rem;
			margin: 0 1rem 0 0;
		}
		h1 {
			font-size: 1rem;
			margin: 0;
			span:last-child:before {
				content: '/ ';
				white-space: pre;
				color: inherit;
			}
		}
		p {
			padding-bottom: 0;
		}
		.button {
			margin: .5rem;
		}
	}
}
.styles-blocks-options-bar {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
  	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05), 0 -2rem 4rem rgba(0, 0, 0, 0.025);
	transition: all .4s ease-out;
	&.open {
		left: 360px;
	}
}
.styles-blocks-changer {
	width: 240px;
	form {
		display: flex;
	}
	.select {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		&:focus {
			box-shadow: none;
		}
	}
	button {
		@include flex-center;
		width: var(--input-height);
		height: var(--input-height);
		color: var(--color-primary);
		border: var(--input-border-width) solid var(--color-primary);
		border-left: none;
		border-top-right-radius: var(--input-radius);
		border-bottom-right-radius: var(--input-radius);
		&:hover {
			color: var(--color-bg);
			background-color: var(--color-primary);
		}
	}
}
#current-block {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100vh;
	transition: all .4s ease-out;
	&.open {
		left: 360px;
	}
}
.block-preview-filters {
	position: fixed;
	top: 0;
	left: -360px;
	width: 360px;
	height: 100%;
	background-color: var(--color-primary);
	padding: 1rem;
	transition: all .4s ease-out;
	.grid {
		padding: 1rem;
		max-height: 75vh;
		overflow-y: auto;
	}
	&.open {
		left: 0;
	}
}
body.tool-template-tool-styles .footer-mkt-users-wrap {
	display: none;
}

// Menus
.styles-menus-changer {
	width: auto;
	form {
		display: flex;
	}
	.select {
		width: 240px;
		&:first-of-type {
			border-right: none;
		}
		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		&:focus {
			box-shadow: none;
		}
	}
	button {
		@include flex-center;
		width: var(--input-height);
		height: var(--input-height);
		color: var(--color-primary);
		border: var(--input-border-width) solid var(--color-primary);
		border-left: none;
		border-top-right-radius: var(--input-radius);
		border-bottom-right-radius: var(--input-radius);
		&:hover {
			color: var(--color-bg);
			background-color: var(--color-primary);
		}
	}
}
.styles-menus-options-bar {
	position: fixed;
	bottom: 5rem;
	right: 0;
	z-index: 5;
	display: flex;
	padding: 1rem;
	transition: all .4s ease-out;
}
