#php-info {
	img {
		width: 80px;
	}
	pre {
		margin: 0; font-family: monospace;
	}
	a:link {
		color: var(--color-primary); 
		text-decoration: none;
		background-color: transparent;
		&:hover {
			text-decoration: underline;
		}
	}
	table {
		border-collapse: collapse; 
		border: 0; 
		width: 100%; 
		box-shadow: none;
	}
	.center {
		text-align: center;
	}
	.center table {
		margin: 1em auto; 
		text-align: left;
	}
	.center th {
		text-align: center !important;
	}
	td, th {
		border: 1px solid var(--color-gray-200); 
		font-size: 75%; 
		vertical-align: baseline; 
		padding: 4px 5px;
	}
	th {
		position: sticky; 
		top: 0; 
		background: inherit;
	}
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 125%;
	}
	.p {
		text-align: left;
	}
	.e {
		background-color: var(--color-gray-100); 
		width: 300px; 
		font-weight: 700;
	}
	.h {
		background-color: #000; 
		color: var(--color-bg);
		font-weight: 700;
		h1 {
			color: var(--color-bg);
		}
	}
	.v {
		background-color: var(--color-bg);  
		max-width: 300px; 
		overflow-x: auto; 
		word-wrap: break-word;
	}
	.v i {
		color: #999;
	}
	img {
		float: right; 
		border: 0;
	}
	hr {
		width: 100%;
		background-color: var(--color-gray-200);
		border: 0; 
		height: 1px;
	}
}