//======================================================================
// Project
// Project custom CSS
//======================================================================
// Import config files
@import 'config';

.break-3 {
	@include break-3-max {
		display: none;
	}
}

// Navigation
.nav-wrap {
	@include break-4 {
		padding-top: 60px;
	}
}
.desktop-nav {
	@include break-4-max {
		display: none;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: var(--color-bg);
	transition: var(--transition-default);
	&.scrollup {
		top: -60px;
	}
	nav {
		border-bottom: 1px solid var(--border-color);
	}
	ul {
		display: flex;
		justify-content: space-around;
		text-align: center;
		li {
			width: 100%;
			a {
				display: block;
				padding: .5rem;
				width: 100%;
				color: var(--color-title);
				&:hover {
					text-decoration: none;
					background-color: var(--color-title);
					color: var(--color-bg);
				}
			}
		}
	}
}
.nav-logo {
	position: relative;
}
.nav-social {
	position: absolute;
	top: calc( 2 * var(--bu) );
	left: calc( 2 * var(--bu) );
	display: flex;
	svg {
		height: 1.5rem;
		width: auto;
		margin-right: 1rem;
	}
}
.nav-icons {
	position: absolute;
	top: calc( 2 * var(--bu) );
	right: calc( 2 * var(--bu) );
	display: flex;
	svg {
		height: 1.5rem;
		width: auto;
		margin-left: 1rem;
	}
}
.menu-toggle-bars, 
.menu-mobile-toggle-bars {
	width: 1rem;
	height: 1rem;
	margin: .25rem 0 .25rem 2rem;
	span {
		border-top: 2px solid var(--color-primary);
	}
}
.menu-mobile-default {
	padding: calc( 4 * var(--bu) );
	@include break-4 {
	    display: unset;
  	}
	.h4 {
		font-size: 1.5rem;
		font-weight: 1000;
	}
	nav ul li {
		margin-bottom: .75rem;
		a {
			font-weight: var(--font-weight-bold);
			color: var(--color-text);
			@include break-4 {
				font-size: 1.25rem;
			}
		}
	}
}
.menu-mobile-header {
	margin-bottom: 2rem;
	@include break-3 {
		display: flex;
		justify-content: space-between;
	}
	ul {
		display: flex;
		li {
			margin-left: .5rem;
			@include break-3 {
				margin-left: 1rem;
			}
		}
		svg {
			fill: var(--color-title); 
			@include break-3 {
				height: 2.5rem;
			}
		}
	}
}

// Footer
footer {
	color: var(--color-bg);
	background-color: var(--color-primary);
	font-size: .875rem;
	a {
		color: var(--color-bg);
		&:hover {
			color: var(--color-bg);
		}
	}
	.eyelet {
		color: var(--color-bg);
	}
}

.footer-credits a {
	color: var(--color-bg);
}

// Super list
ol.list-super {
	> li {
		&::before {
			color: var(--color-black);
			font-weight: 1000;
			font-size: 1.5em;
			margin-bottom: .5em;
			@include break-3 {	
				font-size: 3em;
			}
		}
	}
}

// Scroll
section,
.scroll-margin-top {
	scroll-margin-top: 4rem;
}

// Typography
h2 {
	letter-spacing: .75px;
}
.eyelet {
	display: block;
	color: var(--color-primary);
	padding-bottom: 0;
	font-weight: 800;
}
.title-xl {
	font-weight: 1000;
	letter-spacing: -1px;
	line-height: .9em;
	@include break-3 {
		font-size: 5rem;
		letter-spacing: -2px;	
	}
}

.font-black {
	font-weight: 1000;
}

// Layout
.layout-wrap-reverse {
	@include break-3 {
		// flex-direction: row-reverse;
		.sidebar {
			width: 30%;
		}
		.mainbar {
			width: 65%;
			margin: 0 5% 0 0;
		}
	}
}
.flex-1-3 {
	> div,
	> a {
		margin: 0 0 1rem 0;
	}
	@include break-3 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		> div,
		> a {
			margin: 0 2rem 1rem 2rem;
			width: calc( (100% - 6rem) / 4 );
		}
	}
}

// Loops
.classes-table {
	@include break-4-max {
		border-top: var(--border-width) var(--border-style) var(--border-color);
	}
	span {
		display: block;
		font-size: .75rem;
		@include break-4 {
			display: none;
		}
	}
}
.classes-table-header {
	@include break-4-max {
		display: none;
	}
}

// Early birds
.early-birds {
	position: relative;
	&:after {
		content: attr(data-label);
		position: absolute;
		top: -12px;
		right: -12px;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		background-color: var(--color-primary);
		color: var(--color-bg);
		text-align: center;
		font-size: 10px;
		font-weight: 1000;
		text-transform: uppercase;
		transform: rotate(-8deg);
	}
}

// Cards
.card-dance-class {
	position: relative;
	z-index: 1;
	padding: calc(var(--bu) * 2) var(--bu) var(--bu) var(--bu);
	border-top: 1px solid var(--color-black);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: var(--color-bg);
	display: block;
	text-align: center;
	&:hover {
		border: 1px solid var(--color-black);
		transform: scale(1.01);
	}
}
.card-title {
	display: block;
	font-size: 1.25rem;
	color: var(--color-title) !important;
	font-weight: 1000;
}
.card-label {
	position: absolute;
	z-index: 1;
	top: -.75rem;
	left: 0;
	width: 100% !important;
	text-align: center;
	span {
		display: inline-block;
		padding: .25em .75em;
		background-color: var(--color-black);
		color: var(--color-bg) !important;
		font-size: .85rem;
		font-weight: var(--font-weight-bold); 
		line-height: 1em;
	}
}
.teachers-thumbs {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-size: .75rem;
	img {
		display: block;
		margin: .25rem;
		width: 3rem;
		height: 3rem;
		max-width: initial;
		overflow: hidden;
		border-radius: 50%;
	}
}

// Forms
.button.disabled {
	opacity: .5;
	cursor: not-allowed;
}

// Map
.gm-style {
	.gm-style-iw-c,
	.gm-style-iw-t::after,
	.gm-style-iw-d::-webkit-scrollbar-track, 
	.gm-style-iw-d::-webkit-scrollbar-track-piece {
		background-color: var(--color-black);
	}
	.gm-style-iw.gm-style-iw-c {
		color: var(--color-bg);
		border: 1px solid var(--color-black);
		box-shadow: .25rem .25rem var(--color-primary);
	}
	.gm-style-iw-tc::after {
	 	background: var(--color-black) !important;
	}
	&-iw-d {
		h4 {
			color: var(--color-bg) !important;
		}
	}
}

// Post
.letterhead p:first-of-type:first-letter {
	@include break-4 {
		float: left;
		display: block;
		margin: 0 .5rem 0 0;
		font-size: 5.5rem;
		font-weight: 1000;
		color: var(--color-primary);
	}
}
