//======================================================================
// ACF Option pages: Labels
//======================================================================
.about .acf-label {
	height: 60px;
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: auto 50px;
}
.acf-field.about .acf-label label {
	display: none;
}
body:not(.post-php) {
	.acf-field-accordion label {
		font-size: 16px !important;
	}
}
.acf-field-accordion .acf-accordion-title label:before {
	content: '';
	width: 2em;
	height: .8em;
	margin-right: .25em;
	background-repeat: no-repeat;
	background-position: auto .5em;
	background-size: auto .8em;
	display: inline-block;
}

//======================================================================
// ACF Option pages: SVG Icons
//======================================================================
.about-image .acf-label,
.acf-field-accordion.accordion-image label:before {
	background-image: url(../../../core/assets/icons/file-image.svg);
}
.about-fonts .acf-label,
.acf-field-accordion.accordion-fonts label:before {
	background-image: url(../../../core/assets/icons/font-case.svg);
}
.about-login .acf-label,
.acf-field-accordion.accordion-login label:before {
	background-image: url(../../../core/assets/icons/door-open.svg);
}
.about-colors .acf-label,
.acf-field-accordion.accordion-colors label:before {
	background-image: url(../../../core/assets/icons/paint-roller.svg);
}
.about-menus .acf-label,
.acf-field-accordion.accordion-menus label:before {
	background-image: url(../../../core/assets/icons/bars.svg);
}
.about-development .acf-label,
.acf-field-accordion.accordion-development label:before {
	background-image: url(../../../core/assets/icons/code.svg);
}
.about-css .acf-label,
.acf-field-accordion.accordion-css label:before {
	background-image: url(../../../core/assets/icons/css3.svg);
}
.about-js-libs .acf-label,
.acf-field-accordion.accordion-js-libs label:before {
	background-image: url(../../../core/assets/icons/puzzle-piece.svg);
}
.about-hints .acf-label,
.acf-field-accordion.accordion-hints label:before {
	background-image: url(../../../core/assets/icons/spinner.svg);
}
.about-scripts .acf-label,
.acf-field-accordion.accordion-scripts label:before {
	background-image: url(../../../core/assets/icons/js-square.svg);
}
.about-google .acf-label,
.acf-field-accordion.accordion-google label:before {
	background-image: url(../../../core/assets/icons/google.svg);
}
.about-facebook .acf-label,
.acf-field-accordion.accordion-facebook label:before {
	background-image: url(../../../core/assets/icons/facebook.svg);
}
.about-email .acf-label,
.acf-field-accordion.accordion-email label:before {
	background-image: url(../../../core/assets/icons/envelope.svg);
}
.about-footer .acf-label,
.acf-field-accordion.accordion-footer label:before {
	background-image: url(../../../core/assets/icons/file-signature.svg);
}
.about-404 .acf-label,
.acf-field-accordion.accordion-404 label:before {
	background-image: url(../../../core/assets/icons/compass-slash.svg);
}
.about-archives .acf-label,
.acf-field-accordion.accordion-archives label:before {
	background-image: url(../../../core/assets/icons/folder-open.svg);
}
.about-staging .acf-label,
.acf-field-accordion.accordion-staging label:before {
	background-image: url(../../../core/assets/icons/staging.svg);
}
.about-maintenance .acf-label,
.acf-field-accordion.accordion-maintenance label:before {
	background-image: url(../../../core/assets/icons/hard-hat.svg);
}
.about-restricted .acf-label,
.acf-field-accordion.accordion-restricted label:before {
	background-image: url(../../../core/assets/icons/lock-alt.svg);
}
.about-backend .acf-label,
.acf-field-accordion.accordion-backend label:before {
	background-image: url(../../../core/assets/icons/laptop-code.svg);
}
.about-privacy .acf-label,
.acf-field-accordion.accordion-privacy label:before {
	background-image: url(../../../core/assets/icons/shield-check.svg);
}
.about-cpt .acf-label,
.acf-field-accordion.accordion-cpt label:before {
	background-image: url(../../../core/assets/icons/folder.svg);
}
.about-plugins .acf-label,
.acf-field-accordion.accordion-plugins label:before {
	background-image: url(../../../core/assets/icons/cubes.svg);
}
.about-config .acf-label,
.acf-field-accordion.accordion-config label:before {
	background-image: url(../../../core/assets/icons/cog.svg);
}
.about-dates .acf-label,
.acf-field-accordion.accordion-dates label:before {
	background-image: url(../../../core/assets/icons/calendar.svg);
}
.about-crm .acf-label,
.acf-field-accordion.accordion-crm label:before {
	background-image: url(../../../core/assets/icons/mkt.svg);
}
.about-more-options .acf-label,
.acf-field-accordion.accordion-more-options label:before {
	background-image: url(../../../core/assets/icons/plus.svg);
}
.about-contacts .acf-label,
.acf-field-accordion.accordion-contacts label:before {
	background-image: url(../../../core/assets/icons/mobile.svg);
}
.about-social .acf-label,
.acf-field-accordion.accordion-social label:before {
	background-image: url(../../../core/assets/icons/comment-alt-smile.svg);
}
.about-plugin-cf7 .acf-label,
.acf-field-accordion.accordion-plugin-cf7 label:before {
	background-image: url(../../../core/assets/icons/mailbox.svg);
}
.about-titles .acf-label,
.acf-field-accordion.accordion-titles label:before {
	background-image: url(../../../core/assets/icons/h1.svg);
}
.about-options .acf-label,
.acf-field-accordion.accordion-options label:before {
	background-image: url(../../../core/assets/icons/sliders-h.svg);
}
.about-plugin-wpml .acf-label,
.acf-field-accordion.accordion-plugin-wpml label:before {
	background-image: url(../../../core/assets/icons/language.svg);
}
.about-plugin-dk-pdf .acf-label,
.acf-field-accordion.accordion-plugin-dk-pdf label:before {
	background-image: url(../../../core/assets/icons/file-pdf.svg);
}
.about-maps .acf-label,
.acf-field-accordion.accordion-maps label:before {
	background-image: url(../../../core/assets/icons/map-marker.svg);
}
.about-block .acf-label,
.acf-field-accordion.accordion-block label:before {
	background-image: url(../../../core/assets/icons/block.svg);
}
.about-template .acf-label,
.acf-field-accordion.accordion-template label:before {
	background-image: url(../../../core/assets/icons/columns.svg);
}
//.about-optimization .acf-label,
//.acf-field-accordion.accordion-optimization label:before {
//	background-image: url(../../../core/assets/icons/stopwatch.svg);
//}