//======================================================================
// Typography: Overwrite default WP core styles
//======================================================================
#titlediv {
    margin-bottom: 2rem;
}

#titlediv #title {
    font-size: 2.5em !important;
}

//======================================================================
// Typography: Html and body
//======================================================================
html,
body,
#wpadminbar * {
    font-family: var(--font-theme);
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

//======================================================================
// Typography: Titles
//======================================================================
h1, h2, h3, h4, h5, h6,
strong, b {
    font-weight: 700;
}

//======================================================================
// Typography: Fonts
//======================================================================
.theme-font {
    font-family: var(--font-theme);
}

//======================================================================
// Typography: Font size
//======================================================================
.mkcb-text-xl {
    font-size: 4rem;
	line-height: 1em;
}
.mkcb-text-sm {
    font-size: .875rem;
}
.mkcb-text-xs {
    font-size: .75rem !important;
}

//======================================================================
// Typography: Paragraph
//======================================================================
.mkcb-text-left {
    text-align: left;
}
.mkcb-text-right {
    text-align: right;
}
.mkcb-text-center {
    text-align: center;
}

//======================================================================
// Typography: Font style
//======================================================================
.mkcb-uppercase {
    text-transform: uppercase;
}