.divide-x-0>:not([hidden])~:not([hidden]) {
	--tw-divide-x-reverse:0;
	border-left-width:calc(0px*(1 - var(--tw-divide-x-reverse)));
	border-right-width:calc(0px*var(--tw-divide-x-reverse))
}
.divide-x-2>:not([hidden])~:not([hidden]) {
	--tw-divide-x-reverse:0;
	border-left-width:calc(2px*(1 - var(--tw-divide-x-reverse)));
	border-right-width:calc(2px*var(--tw-divide-x-reverse))
}
.divide-x-4>:not([hidden])~:not([hidden]) {
	--tw-divide-x-reverse:0;
	border-left-width:calc(4px*(1 - var(--tw-divide-x-reverse)));
	border-right-width:calc(4px*var(--tw-divide-x-reverse))
}
.divide-x-8>:not([hidden])~:not([hidden]) {
	--tw-divide-x-reverse:0;
	border-left-width:calc(8px*(1 - var(--tw-divide-x-reverse)));
	border-right-width:calc(8px*var(--tw-divide-x-reverse))
}
.divide-x>:not([hidden])~:not([hidden]) {
	--tw-divide-x-reverse:0;
	border-left-width:calc(1px*(1 - var(--tw-divide-x-reverse)));
	border-right-width:calc(1px*var(--tw-divide-x-reverse))
}
.divide-y-0>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse:0;
	border-bottom-width:calc(0px*var(--tw-divide-y-reverse));
	border-top-width:calc(0px*(1 - var(--tw-divide-y-reverse)))
}
.divide-y-2>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse:0;
	border-bottom-width:calc(2px*var(--tw-divide-y-reverse));
	border-top-width:calc(2px*(1 - var(--tw-divide-y-reverse)))
}
.divide-y-4>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse:0;
	border-bottom-width:calc(4px*var(--tw-divide-y-reverse));
	border-top-width:calc(4px*(1 - var(--tw-divide-y-reverse)))
}
.divide-y-8>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse:0;
	border-bottom-width:calc(8px*var(--tw-divide-y-reverse));
	border-top-width:calc(8px*(1 - var(--tw-divide-y-reverse)))
}
.divide-y>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse:0;
	border-bottom-width:calc(1px*var(--tw-divide-y-reverse));
	border-top-width:calc(1px*(1 - var(--tw-divide-y-reverse)))
}
.divide-y-reverse>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse:1
}
.divide-x-reverse>:not([hidden])~:not([hidden]) {
	--tw-divide-x-reverse:1
}
.divide-solid>:not([hidden])~:not([hidden]) {
	border-style:solid
}
.divide-dashed>:not([hidden])~:not([hidden]) {
	border-style:dashed
}
.divide-dotted>:not([hidden])~:not([hidden]) {
	border-style:dotted
}
.divide-double>:not([hidden])~:not([hidden]) {
	border-style:double
}
.divide-none>:not([hidden])~:not([hidden]) {
	border-style:none
}
.divide-transparent>:not([hidden])~:not([hidden]) {
	border-color:transparent
}
.divide-current>:not([hidden])~:not([hidden]) {
	border-color:currentColor
}
.divide-black>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(0,0,0,var(--tw-divide-opacity))
}
.divide-white>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(255,255,255,var(--tw-divide-opacity))
}
.divide-gray-50>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(250,250,250,var(--tw-divide-opacity))
}
.divide-gray-100>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(244,244,245,var(--tw-divide-opacity))
}
.divide-gray-200>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(228,228,231,var(--tw-divide-opacity))
}
.divide-gray-300>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(212,212,216,var(--tw-divide-opacity))
}
.divide-gray-400>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(161,161,170,var(--tw-divide-opacity))
}
.divide-gray-500>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(113,113,122,var(--tw-divide-opacity))
}
.divide-gray-600>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(82,82,91,var(--tw-divide-opacity))
}
.divide-gray-700>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(63,63,70,var(--tw-divide-opacity))
}
.divide-gray-800>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(39,39,42,var(--tw-divide-opacity))
}
.divide-gray-900>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(24,24,27,var(--tw-divide-opacity))
}
.divide-warmgray-50>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(250,250,249,var(--tw-divide-opacity))
}
.divide-warmgray-100>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(245,245,244,var(--tw-divide-opacity))
}
.divide-warmgray-200>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(231,229,228,var(--tw-divide-opacity))
}
.divide-warmgray-300>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(214,211,209,var(--tw-divide-opacity))
}
.divide-warmgray-400>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(168,162,158,var(--tw-divide-opacity))
}
.divide-warmgray-500>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(120,113,108,var(--tw-divide-opacity))
}
.divide-warmgray-600>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(87,83,78,var(--tw-divide-opacity))
}
.divide-warmgray-700>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(68,64,60,var(--tw-divide-opacity))
}
.divide-warmgray-800>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(41,37,36,var(--tw-divide-opacity))
}
.divide-warmgray-900>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(28,25,23,var(--tw-divide-opacity))
}
.divide-red-50>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(254,242,242,var(--tw-divide-opacity))
}
.divide-red-100>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(254,226,226,var(--tw-divide-opacity))
}
.divide-red-200>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(254,202,202,var(--tw-divide-opacity))
}
.divide-red-300>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(252,165,165,var(--tw-divide-opacity))
}
.divide-red-400>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(248,113,113,var(--tw-divide-opacity))
}
.divide-red-500>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(239,68,68,var(--tw-divide-opacity))
}
.divide-red-600>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(220,38,38,var(--tw-divide-opacity))
}
.divide-red-700>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(185,28,28,var(--tw-divide-opacity))
}
.divide-red-800>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(153,27,27,var(--tw-divide-opacity))
}
.divide-red-900>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(127,29,29,var(--tw-divide-opacity))
}
.divide-yellow-400>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(254,217,60,var(--tw-divide-opacity))
}
.divide-yellow-500>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(203,174,48,var(--tw-divide-opacity))
}
.divide-blue-50>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(239,246,255,var(--tw-divide-opacity))
}
.divide-blue-100>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(219,234,254,var(--tw-divide-opacity))
}
.divide-blue-200>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(191,219,254,var(--tw-divide-opacity))
}
.divide-blue-300>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(147,197,253,var(--tw-divide-opacity))
}
.divide-blue-400>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(96,165,250,var(--tw-divide-opacity))
}
.divide-blue-500>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(59,130,246,var(--tw-divide-opacity))
}
.divide-blue-600>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(37,99,235,var(--tw-divide-opacity))
}
.divide-blue-700>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(29,78,216,var(--tw-divide-opacity))
}
.divide-blue-800>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(30,64,175,var(--tw-divide-opacity))
}
.divide-blue-900>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(30,58,138,var(--tw-divide-opacity))
}
.divide-purple-50>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(250,245,255,var(--tw-divide-opacity))
}
.divide-purple-100>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(243,232,255,var(--tw-divide-opacity))
}
.divide-purple-200>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(233,213,255,var(--tw-divide-opacity))
}
.divide-purple-300>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(216,180,254,var(--tw-divide-opacity))
}
.divide-purple-400>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(192,132,252,var(--tw-divide-opacity))
}
.divide-purple-500>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(168,85,247,var(--tw-divide-opacity))
}
.divide-purple-600>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(147,51,234,var(--tw-divide-opacity))
}
.divide-purple-700>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(126,34,206,var(--tw-divide-opacity))
}
.divide-purple-800>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(107,33,168,var(--tw-divide-opacity))
}
.divide-purple-900>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1;
	border-color:rgba(88,28,135,var(--tw-divide-opacity))
}
.divide-opacity-0>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0
}
.divide-opacity-5>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.05
}
.divide-opacity-10>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.1
}
.divide-opacity-20>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.2
}
.divide-opacity-25>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.25
}
.divide-opacity-30>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.3
}
.divide-opacity-40>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.4
}
.divide-opacity-50>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.5
}
.divide-opacity-60>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.6
}
.divide-opacity-70>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.7
}
.divide-opacity-75>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.75
}
.divide-opacity-80>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.8
}
.divide-opacity-90>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.9
}
.divide-opacity-95>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:0.95
}
.divide-opacity-100>:not([hidden])~:not([hidden]) {
	--tw-divide-opacity:1
}